# NEXT Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=rahasia-dapur-bunda-2024

# OpenRouter Chatbot
OPENROUTER_API_KEY=<SECRET>
OPENROUTER_MODEL=openai/gpt-oss-120b
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_APP_NAME=Questly English Learning
OPENROUTER_APP_URL=http://localhost:3000

# Drizzle database
DB_URL=data.db

# PocketBase Media Storage
POCKETBASE_URL=https://your_domain.com
POCKETBASE_ADMIN_EMAIL=admin@example.com
POCKETBASE_ADMIN_PASSWORD=password_rahasia

# pm2 Config
NAME_PM2=my-english-app
PORT=3000